.parent {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    border: 2px solid #ccc;
    background-color: #a5db41;
    color: rgb(206, 202, 202);
    padding: 15px;
    height: 500px;
}

.parent:hover .dropdown-content {
    display: block;
} 