.card {
    /* border: 2px solid blue; */
    width: 200px;
    height: 400px;
    border-radius: 10px;
    padding: 8px;
    background-color: antiquewhite;
}

img {
    border-radius: 10px;
}

h6 {
    color: #8b89e0;
}

h2 {
    font-size: 18px;
}

p {
    color: #8b89e0;
}